---
import Icon from "./Icon.astro";
import CopyToClipboard from "./CopyToClipboard.tsx";
---

<div
  class="items-center justify-center space-y-4 md:flex md:space-y-0 md:space-x-4 rtl:space-x-reverse"
>
  <a
    href="https://wa.me/5547999216685"
    target="_blank"
    class="w-full gap-4 md:w-fit bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
  >
    <div class="w-[190px] flex gap-2">
      <Icon class="text-2xl" name="whatsapp" />

      <div class="text-left rtl:text-right">
        <div class="mb-1 text-xs">Whatsapp</div>
        <div class="-mt-1 font-sans text-sm font-semibold">
          +55 47 99921-6685
        </div>
      </div>
    </div>
  </a>

  <a
    href="https://t.me/luisfuturist"
    target="_blank"
    class="w-full gap-4 md:w-fit bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
  >
    <div class="w-[190px] flex gap-2">
      <Icon class="text-2xl" name="telegram" />

      <div class="text-left rtl:text-right">
        <div class="mb-1 text-xs">Telegram</div>
        <div class="-mt-1 font-sans text-sm font-semibold">
          +55 47 99921-6685
        </div>
      </div>
    </div>
  </a>

  <div>
    <CopyToClipboard
      client:idle
      text="luisfuturist"
      class="relative w-full gap-4 md:w-fit cursor-pointer bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
    >
      <div class="w-[190px] flex gap-2">
        <Icon class="text-2xl" name="discord" />

        <div class="text-left rtl:text-right mr-10">
          <div class="mb-1 text-xs">Discord</div>
          <div class="-mt-1 font-sans text-sm font-semibold">luisfuturist</div>
        </div>

        <Icon
          name="clipboard"
          class="absolute right-4 bottom-1/2 translate-y-1/2"
        />
      </div>
    </CopyToClipboard>
  </div>
</div>
