---
import type { NavbarMenuItem } from "../types";
import Link from "./Link.astro";

const year = new Date().getFullYear();

interface Props {
  items: NavbarMenuItem[];
}

const { items } = Astro.props;
---

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl py-4 px-4 xl:px-8 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-700 dark:text-gray-400 sm:text-center"
      >© {year} Gerado por <Link href="https://luisfuturist.com">
        Luis Emidio
      </Link> e <Link
        href="https://openai.com/chatgpt"
        class="hover:underline"
      >
        ChatGPT
      </Link>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      {
        items.map((item) => (
          <li
            aria-current={item.href === Astro.url.pathname ? "page" : undefined}
          >
            <a
              href={item.href}
              class:list={[
                "me-4 md:me-6",
                [
                  item.href === Astro.url.pathname
                    ? "text-white bg-blue-700 md:bg-transparent md:text-blue-700 md:dark:text-blue-500"
                    : "text-gray-800 dark:text-white hover:underline hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent",
                ],
              ]}
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
