---
import Icon from './Icon.astro';

interface Props {
  text: string;
  name: string;
  url: string;
  picture?: string;
}

const { text, name, url, picture } = Astro.props;
---

<figure
  class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700"
>
  <blockquote
    class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400"
  >
    <p class="my-4">
      {text}
    </p>
  </blockquote>
  <figcaption class="flex items-center justify-center">
    <a href={url} target="_blank" class="flex items-center justify-center">
      {
        picture ? (
          <img
            class="rounded-full w-9 h-9"
            src={picture}
            alt="Profile picture"
          />
        ) : (
          <div class="relative w-10 h-10 flex items-center justify-center overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <Icon class="text-gray-400 dark:text-white text-2xl" name="person" />
          </div>
        )
      }
      <div
        class="space-y-0.5 font-medium dark:text-white text-left rtl:text-right ms-3"
      >
        <div>{name}</div>
      </div>
    </a>
  </figcaption>
</figure>
